footer{
    background-color: var(--color-text-black);
}

.footer-top > ul{
    color: var(--color-text-white);
    
}

hr{
    color: --color-text-white;
}
.select-footer, .option-footer{
    display: inline-block;
    width: auto;
    color: var(--color-text-white);
    background-color: var(--color-text-black);
    border: 0;
    list-style: none;
}

.option-footer > i{
    color: var(--color-text-white);
}


#globe{
    height: 1em;
    width: 1em;
    display: inline-block;
}

li> h3{
    padding-bottom: 20px;
}

.footer-top>ul>li{
    padding-bottom: 10px;
}