nav{
    z-index: 100;
    flex-flow: row nowrap;
    width: 100%;
    height: var(--nav-height);
    background-color: white;
    /* text-color */
    color: var(--color-text-lt-gray);
}
.link-box{
    margin: 0 10px;
}
.nav-containers{
    padding: 10px;
    
}

.btn-container > button{
    padding: 5px 10px;
    font-size: 1em;
}

.nav-containers > .img-container{
    align-self: center;
    height: 1.5em;
}

.nav-text-container{
    align-items: center;
    font-size: 1em;
}

.nav-text-container > a{
    
    padding: 0 0.7em;
}

.btn-container{
    display: flex;
    align-items: center;
}

.link-height{
    
    height: var(--nav-height);
    display: flex;
    align-items: center;
    
}

.link-box{
    position: relative;
    
}

.link-height:hover{
    background-color: var(--color-bg-gray);
}

.link-height:hover + .scroll-options{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
}

.scr-left{
    left: 0;
}

.scr-right{
    left: 0;
    transform: translate(-30%, 0);
}

.scroll-options{
    width: 200px;
    display: none;
    margin-top: 0;
    background-color: var(--color-bg-gray);
}

.scroll-options > li > h3{
    font-size: 1.2em;
    font-style: bold;
}

.scroll > li{
    padding-top: 10px;
}

/* hero */

.hero {
    background-color: var(--color-bg-blue);
    padding-top: var(--nav-height);
    height: 700px;
}

.hero > .outer-container{
    /* height: calc(100% - 3vw); */
    height: 500px;
}


.hero > .outer-container > h1{
    
    font-style: bold;
    font-weight: bold;
    font-size: 4em;
    margin: 3vw 0;
}

.hero-text{
    display: flex;
    flex-flow: column wrap;
    flex-basis: 35%;
    flex-shrink: 0;
    height: 350px;

    /* grandezza del font */

    font-size: 1em;
}

.text > button{
    margin: 40px 0;
}

.arrow{
    justify-self: flex-end;
    font-size: 3em;
}

.scroll_anchor > a{
    behavior: smooth;
}