main{
    padding-top: 5vw;
    height: 100%;
    
}

.box > h2{
    font-size: 2.6em;

}

.radio-div{
    padding: 50px 0;
    font-size: 1em;
}

.radio-input{
    padding-right: 40px;
    height: 100%;
}


.offers{
    flex-wrap: nowrap;
}

.subscription{
    font-size: 1em;
    width: calc(100%/3 - 40px);
    border: 1px solid var(--color-bg-gray);
    padding: 20px 5px;
    
}

h3{
    font-size: 2em;
}

ul{
    margin: 20px 0;
}

li{
    
    list-style: none;
    display: flex;
    flex-direction: row;
}

li > i{
    padding-top: 5px;
    flex-basis: 25px;
    margin-bottom: 2em;
}



.subscription-top{

    padding-bottom: 2%;
    text-align: center;
    border-bottom: 1px solid var(--color-bg-gray);
}

.acquista-ora{
    padding-top: 30px;
}

.acquista-ora > a{
    color: var(--color-btn-blue);
    text-decoration: underline;
}

.acquista-ora > hr{
    margin: 40px 0;
    width: calc(100%/5);
}

.offer > h4{
    font-weight: bolder;
    font-style: bolder;
}

.fa-check{
    color: var(--color-btn-blue);
}

.subscription-content{
    padding: 40px 5%;
    line-height: 30px;
}

.subscription-content > button{
    min-width: 100%;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* post-correzione */

#operations{
    margin-top: 180px;
}
#brand{
    width: 100%;
}

#rd1{
    transform: translate(0, 1px);
}

#rd2{
    transform: translate(0, 1px);
}

.indented{
    line-height: 1.2em;
}

.offer-content{
    display: flex;
    flex-direction: row;
}

.offer-content > i{
    transform: translate(-2px, 5px);
}

/* team content setter */
#team{
    margin-top: 60px;
}
.team-title{
    padding: 10px 0;
    text-align: center;
    border: 1px solid var(--color-bg-gray);
}

.team-title > i{
    font-size: 1em;
}

.team-content{
    border: 1px solid var(--color-bg-gray);
}

.team-left-container{
    flex-basis: 65%;
    padding: 40px;
}

.team-subtitle{
    padding: 20px 0;
}

.team-description{
    margin-top: 40px;
}

.team-right-container{
    flex-basis: 25%;
    padding: 40px 20px;
}

.team-right-container > button{
    padding: 10px 20px;
}

/* partners */


.partner-left{
    /* posiziono l'elemento in modo tasle che occupi il 60% della grandezza della pagina e che il resto si adegui */
    flex-basis: 60%;
    flex-shrink: 0;
}

.partner-right{
    padding: 40px 30px;
}

.partner-right > h4{
    font-size: 1.5em;
   
}

.partner-right-description{
    padding: 25px 0;
}

#partner-btn{
    background-color: var(--color-bg-white);
    color: var(--color-text-black);
    border-left: 1px solid var(--color-text-black);
    border-bottom: 1px solid var(--color-text-black);
    border-top: 1px solid var(--color-bg-gray);
}

/* operazioni */
.card{
    max-width: calc(100% / 3.5);
    padding: 50px 0;
}

.card > h3{
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 1.3em;
}

/* users */
#users{
    padding: 100px 0;
}
#users > h2{
    font-size: 2.7em;
    max-width: 70%;
    margin-bottom: 60px;
}

.user-a{
    color: var(--color-link-blue);
    text-decoration: underline;
}

/* partner */
.big-square{
    width: calc(100% / 3);
    height: calc(100vw / 3);
    background-color: var(--color-bg-gray);
}

.small-square{
    min-width: 50%;
    height: calc(100vw / 6);
    /* max-height: calc(100vw / 6); */
    z-index: 1;
    position: relative;
}

.svg-container{
    min-width: 50%;
    width: 2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}

.svg-container > img{
    /* coloro le immagini dei riquadri di bianco */
    filter: invert(1);
}



#Designit{
    background-color: var(--color-sqr-green);
}

#Designit-gh{
    display: none;
}

#Designit:hover ~ #Designit-gh::after {
    display: inline-block;
    
}

#Designit:hover{
    
    border: 20px solid var(--color-bg-gray);
}

#ASU{
    background-color: var(--color-sqr-brown);
}

#ASU-gh{
    display: none;
}

#ASU:hover #ASU-gh {
    display: inline-block;
    
}


#ASU:hover{
    border: 20px solid var(--color-bg-gray);
}

#UF{
    background-color: var(--color-sqr-mid-blue);
}

#UF-gh{
    display: none;
}

#UF:hover{
    border: 20px solid var(--color-bg-gray);
}

#topps{
    background-color: var(--color-sqr-lt-red);
}

#topps-gh{
    display: none;
}

#topps:hover{
    border: 20px solid var(--color-bg-gray);
}

#WORLD{
    background-color: var(--color-sqr-str-red);
}

#WORLD-gh{
    display: none;
}

#WORLD:hover{
    border: 20px solid var(--color-bg-gray);
}

#HEARST{
    background-color: var(--color-sqr-lt-blue);
}

#HEARST-gh{
    display: none;
}

#HEARST:hover{
    border: 20px solid var(--color-bg-gray);
}

#lonley{
    background-color: var(--color-sqr-strong-blue);
}

#lonley-gh{
    display: none;
}

#lonley:hover{
    border: 20px solid var(--color-bg-gray);
}

#Clear{
    background-color: var(--color-sqr-yellow);
}

#Clear-gh{
    display: none;
}

#Clear:hover{
    border: 20px solid var(--color-bg-gray);
}

.ghost-container{
    padding: 40px;
}

.svg-ghost{
    width: 40%;
}

hr{
    margin: 50px 0;
    width: 20%;
}

.ghost-text{
    margin-bottom: 40px;
}

/* login */

#login{
    background-color: var(--color-sqr-lt-blue);
    padding: 100px 0;
}

#login-title{
    width: 50%;
    font-size: 2.5em;
    color: var(--color-sqr-brown);
}

#login-btn{
    transform: translate( 0, -50%);
    padding: 10px 20px;
    background-color: var(--color-bg-white);
    color: var(--color-text-black);
}

/* faq */

#faq{
    margin: 100px auto;
}

#faq > h2{
    margin-bottom: 60px;
}

select, option{
    font-size: 1.3em;
    width: 100%;
    height: 100px;
    border-left: 0;
    border-right: 0;
}

