*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after{
    content: "";
     clear: both;
    display: table;
}

:root {
	--color-btn-blue: #0061ff;
	--color-bg-blue: #c6dbed;
    --color-bg-white: #ffffff;
	--color-sqr-green: #a2d39b;
	--color-sqr-brown: #61082b;
	--color-sqr-mid-blue: #0093ce;
	--color-sqr-lt-red: #ff1c1c;
	--color-sqr-str-red: #d5001f;
	--color-sqr-lt-blue: #b4d0e7;
	--color-sqr-strong-blue: #0d2481;
	--color-sqr-yellow: #ffd830;
	--color-bg-gray: #e8e8ea;
	--color-text-strong-gray: #424242;
	--color-text-lt-gray: #686767;
	--color-text-white: #eef0f2;
    --color-text-black: #000;
    --color-link-blue: #5d59f2;
    --color-text-white: #999997;
    --color-btn-white: #fff;

    --nav-height:50px;
}

body{
    font-family: 'Fredoka', sans-serif; 
    font-family: 'Noto Sans Symbols', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Space Grotesk', sans-serif; 
    
}

.debug{
    background-color: #a2d39b;
    margin: 1px solid black;
}

.outer-container{
    /* max-width: 2200px; */
    max-width: 1200px;
    margin: 0 auto;
}

.inner-container{
    /* max-width: 2000px; */
    max-width: 1000px;
    margin: 0 auto;
}

.fixed{
    position: fixed;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.justify-end{
    justify-content: flex-end;
}

.justify-start{
    justify-content: flex-start;
}

.wrap{
    flex-wrap: wrap;
}

/* img */

.img-container{
    /* height: 100%; */
}

img{
    width: 100%;
    height: 100%;
}

/* a */
a{
    color: var(--color-text-black);
    text-decoration: none;
    
}

/* buttons */

button{
    font-size: 1em;
    /* borders removal and shadow */
    border: 0px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.20);
    padding: 10px 20px;
    background-color: var(--color-btn-blue);
    color: var(--color-btn-white);
}








